{block content}
<div id="wrapper">
    <div id="header">
        <a href="#">
            <div class="skype"></div>
        </a>
        <a href="#">
            <div class="linkedin"></div>
        </a>
        <a href="#">
            <div class="fb"></div>
        </a>
        <h1>Connecting people</h1>
    </div>
    <div id="content" align="center">
        <form id="login">
            <h1> Chat </h1>
            <fieldset id="inputs">
                <input id="username" type="text" placeholder="Username" autofocus required/><br>
                </br>
                <input id="password" type="password" placeholder="Password" required/><br>
                </br>
            </fieldset>
            <fieldset class="actions">
                <div class="goToRegistration">
                    <a n:href="Registration:default">Register</a>
                    <input type="submit" class="submit"/>
                </div>
            </fieldset>
        </form>
    </div>
    <div id="footer">
        Projekt z WA na Mendelu vytvořil 
        <a href="https://is.mendelu.cz/auth/lide/clovek.pl?id=50753;"> Pavel Seda</a> © 2015
    </div>
</div>
{/block}
