{* Latte template *}

{block content}
<div id="wrapper">
    <div id="header">
        <div class ="chatRoom">
            <ul>
                <li>
                    <a href="#">Personal Messaging</a>
                </li>
                <li>
                    <a href="#">Chat Room Name</a>
                </li>
                <li>
                    <a n:href="Rooms:default">
                        Pick another room
                    </a>
                </li>
                <li>
                    <a href="#">user</a>
                </li>
            </ul>
        </div>
        <!--<h1>Connecting people</h1>-->
    </div>
    <div id="content">
        <div class = "logedUsers">
            <h1> Admin </h1>
            <div class="spravce">
                <ul>
                    <li>
                        <a href="#">Pavel Seda</a>
                    </li>
                </ul>
            </div>
            <br></br>
            <h1>Users</h1>
            <ul>
                <li>
                    <a href="#">Dezo Dorant</a>
                </li>
                <li>
                    <a href="#">Krum Páč</a>
                </li>
                <li>
                    <a href="#">Burak Arašíd</a>
                </li>
                <li>
                    <a href="#">Piivoa Rumpiem</a>
                </li>
            </ul>
        </div>   
        <div class ="chat">
            <div class="bubble bubble-alt green">
              <p>Ahoj, jmenuji se Pavel a chci si psat.</p>
            </div>

            <div class="bubble yellow">
              <p>Cool, cool.</p>
            </div>

            <div class="bubble red">
              <p>Jee Pavle ty jsi tady?.</p>
            </div>

            <div class="bubble pink">
              <p>Ahoj, jak se mate?.</p>
            </div>

            <div class="bubble bubble-alt white">
              <p>Cus, no de to, vcera jsme meli v praci team building na motokarach a pak jsme sli do hospody do pegasu.</p>
            </div>

            <div class="bubble bubble-alt green">
              <p>JJ, uz jsem dosel.</p>
            </div>
        </div>
        <div class="bottomPanel">
            <textarea>
            </textarea>
            <input type="submit" value="send" />
        </div>
    </div>
    <div id="footer">
        Projekt z WA na Mendelu vytvořil 
        <a href="https://is.mendelu.cz/auth/lide/clovek.pl?id=50753;"> Pavel Seda</a> © 2015
    </div>
</div>
{/block}