{* Latte template *}

{block content}
<div id="wrapper">
    <div id="header">
        <a href="#">
            <div class="skype"></div>
        </a>
        <a href="#">
            <div class="linkedin"></div>
        </a>
        <a href="#">
            <div class="fb"></div>
        </a>
        <h1>Connecting people</h1>
    </div>
    <div id="content" align="center">
        <form n:name="registrationForm" id="register">
            <h1> Register </h1>
            <fieldset id="inputsRegister">
                <input n:name="userName" id="usernameRegister" type="text" placeholder="Username" autofocus required/><br>
                <br/>
                <input n:name="password" id="passwordRegister" type="password" placeholder="Password" required/><br>
                <br/>
                <input n:name="email" id="email" type="text" placeholder="E-mail" required/><br>
                <br/>
                <input n:name="name" id="name" type="text" placeholder="Name" required/><br>
                <br/>
                <input n:name="surname" id="surname" type="text" placeholder="Surname" required/><br>
                <br/>
            </fieldset>
            <ul class="error" n:if="$form->ownErrors">
                <li n:foreach="$form->ownErrors as $error">{$error}</li>
            </ul>
            <fieldset id="actionsRegister">
                <div class="backToLogin">
                    <a n:href="Homepage:default">Back</a>
                    <input n:name="send" type="submit" class="submit"/>
                </div>
            </fieldset>
        </form>
    </div>
    <div id="footer">
        Projekt z WA na Mendelu vytvořil 
        <a href="https://is.mendelu.cz/auth/lide/clovek.pl?id=50753;"> Pavel Seda</a> © 2015
    </div>
</div>
{/block}