* {
    padding: 0;
    margin: 0;
    border: none;
}

html, body {
    background-color: #C1BDBA;
    //background-image:url('http://i.stack.imgur.com/pMAiU.jpg');
    background-image:url('http://cdn01.wallconvert.com/_media/conv/1/5/40253-texture-background.jpg');
    font-family: "Titillium Web",sans-serif;
    height: 100%;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    min-height:100%;
    position:relative;
}

/* Zahlavi */

#header{
    display: block;
    width:inherit;
    background: none repeat scroll 0% 0% #222;
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-position: 0% 0%;
        background-clip: border-box;
        background-origin: padding-box;
        background-size: auto auto;
    padding-top: 10px;
    position: relative;
    box-shadow: 0px 1px 2px #255F7E;
}

#header h1{
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7), 0px 2px 0px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin: 0px 0px 30px;
    letter-spacing: 4px;
    font: 400 24px/24px Georgia,"Times New Roman",Times,serif;
        font-family: Georgia,"Times New Roman",Times,serif;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 24px;
        font-size-adjust: none;
        font-stretch: normal;
        -x-system-font: none;
        -moz-font-feature-settings: normal;
        -moz-font-language-override: normal;
    position: relative;
}


/* Obsah*/

#content {
    display: flex;
    flex-flow: row wrap;
    position:relative;
    top: 15%;
    left:25%;
    width:50%;
    height:100%;
    border-top-left-radius: 2em;
    padding-bottom: 100px;
    overflow:hidden;
}

#content h1 {
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7), 0px 2px 0px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin: 0px 0px 30px;
    letter-spacing: 4px;
    font: 26px/1 Verdana,Helvetica;
}

/* LOGIN / REGISTRATION */

.fb, .linkedin, .skype {
  width: 25px;
  height: 25px;
  margin-right: 12px;
  right: 0;
  position: absolute;
}

.fb {
  right: 100px;
  background:  url('icons/facebook.png')  center no-repeat;
}

.linkedin {
  right: 10px;
  background:  url('icons/linkedin.png')  center no-repeat;
}

.skype {
  right: 55px;
  background:  url('icons/skype.png')  center no-repeat;
}

form {
    background: #FFF;
    width: 40%;
    margin-right: 40%;
    margin-left: 45%;
    background-color: grey;
    padding: 40px;
    max-width: 600px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0px 4px 10px 4px rgba(19, 35, 47, 0.3);
}

form login{
   width:300px;
}

fieldset {
    border: 0px none;
    padding: 0px;
    margin: 0px;
}

.submit:hover, .submit:focus {
    background-color: #FDDB6F;
    background-image: -moz-linear-gradient(center top , #FFB94B, #FDDB6F);
}

.submit {
    background-color: #FDDB6F;
    border-radius: 3px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(255, 255, 255, 0.3) inset;
    border-width: 1px;
    border-style: solid;
    border-color: #D69E31 #E3A037 #D5982D;
    float: right;
    height: 35px;
    padding: 0px;
    width: 120px;
    cursor: pointer;
    font: bold 15px Arial,Helvetica;
    color: #8F5A0A;
    margin-left: 10px;
}

#login, #register {
    background-color: #D8D8D8;
}

#inputs input {
    background: url('http://www.red-team-design.com/wp-content/uploads/2011/09/login-sprite.png') no-repeat scroll 1% 0% #F1F1F1;
    padding: 15px 15px 15px 30px;
    margin: 0px 0px 25px;
    width: 90%;
    border: 1px solid #CCC;
    border-radius: 5px;
    box-shadow: 0px 1px 1px #CCC inset, 0px 1px 0px #FFF;
}

#inputsRegister input {
    background: url('http://www.red-team-design.com/wp-content/uploads/2011/09/login-sprite.png') no-repeat scroll 1% 0% #F1F1F1;
    padding: 15px 15px 15px 30px;
    margin: 0px 0px 10px;
    width: 90%;
    border: 1px solid #CCC;
    border-radius: 5px;
    box-shadow: 0px 1px 1px #CCC inset, 0px 1px 0px #FFF;
}

.backToLogin, .goToRegistration{
    display:linear;
}

.back {
	order: 4;
	flex: 1 100%;
}

/* ***************** CHAT ************************ */

.chatRoom{
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7), 0px 2px 0px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin: 0px 0px 30px;
    letter-spacing: 4px;
    float:top;
    text-align: center;  
}

.chatRoom ul li {
    display:inline;
}

.chatRoom ul li a{
    text-decoration: none;
    padding: .2em 4em;
    color: #fff;
}

.chatRoom ul li a:hover{
    color: #fff;
    background-color: #369;    
}

.chat{
    flex-basis: 75%;
    order: 1;
    max-height: 500px;
    position: relative;
    top:0;
    bottom:0;
    left:0;
    right:200px; 
    background:url("http://chat-logic.com/wp-content/uploads/2013/10/Chat-Logic-background.jpg");   
    overflow:auto;
}


.logedUsers{
    flex-basis: 25%;
    order: 2;
    max-height: 500px;
    width:200px;
    right:0; 
    background: none repeat scroll 0% 0% #EEE;
    overflow:auto;   
    float: right;
    text-align:center;
}


.logedUsers ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.logedUsers ul li{
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
}

.logedUsers ul li:last-child{
    border: none;
}

.logedUsers ul li a {
    text-decoration: none;
    color: #000;
    display: block;
 
    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;    
}

.logedusers ul li a:hover{
    font-size: 30px;
    background: #f6f6f6;    
}

.bottomPanel{
    order: 3; 
    flex: 1 100%; 
    height: 100px;
    background:#EEE;
    position:relative;
    bottom:0px;
    left:0px;
    right:0px;
}


.bottomPanel textarea{
    position:relative;
    top:10px;
    bottom:10px;
    left:10px;
    right:120px;
    width: 75%;
    height: 50%;
}

.bottomPanel input[type=submit]:hover,.bottomPanel input[type=submit]:focus {
    background-color: #FDDB6F;
    background-image: -moz-linear-gradient(center top , #FFB94B, #FDDB6F);
}

.bottomPanel input[type=submit]{
    margin: 20px;
    background-color: #FDDB6F;
    border-radius: 3px;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(255, 255, 255, 0.3) inset;
    border-width: 1px;
    border-style: solid;
    border-color: #D69E31 #E3A037 #D5982D;
    float: right;
    height: 35px;
    padding: 0px;
    width: 120px;
    cursor: pointer;
    font: bold 15px Arial,Helvetica;
    color: #8F5A0A;
}

/* ROOMS */

.rooms {
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7), 0px 2px 0px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    text-align: center;
    color: #666;
    margin: 55px 0px 30px;
    letter-spacing: 4px;
    float:top;
    text-align: center;    
    background: #D8D8D8;
    right:200px; 
    width:100%;
    min-height: 400px;
    min-width: 250px;
}

.rooms h1{
    padding:5px;
}


.newRoom{
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7), 0px 2px 0px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    color: #666;
    letter-spacing: 4px;
    text-align: center;
}

.newRoom ul li{
    display:inline;
}
.newRoom ul li a {
    color: #FFF;
    padding: 0.2em 4em;
    text-decoration: none;
}

.newRoom ul li a:hover{
    background-color: #369;
    color: #FFF;    
}

.newRoom ul li a:hover, .newRoom ul li a:focus {
    background-color: #FDDB6F;
    background-image: -moz-linear-gradient(center top , #FFB94B, #FDDB6F);
}


.rooms ol{
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */
    font: 15px 'trebuchet MS', 'lucida sans';
    padding:10;
    margin-bottom: 4em;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
    width:100%;
}

.rooms a{
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    *padding: .4em;
    margin: .5em 0;
    background: #ddd;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;   
}

.rooms a:hover{
    background: #eee;
}

.rooms a:hover:before{
    transform: rotate(360deg);
}

.rooms a:before{
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: 0.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #87ceeb;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

.newRoom{
    padding:15px;
    width:50;
}

/** BUBLINKY **/

.bubble {
  box-sizing: border-box;
  float: left;
  width: auto;
  max-width: 80%;
  position: relative;
  clear: both;
 
  background: #95c2fd;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.15, #bee2ff), color-stop(1, #95c2fd));
  background-image: -webkit-linear-gradient(bottom, #bee2ff 15%, #95c2fd 100%);
  background-image: -moz-linear-gradient(bottom, #bee2ff 15%, #95c2fd 100%);
  background-image: -ms-linear-gradient(bottom, #bee2ff 15%, #95c2fd 100%);
  background-image: -o-linear-gradient(bottom, #bee2ff 15%, #95c2fd 100%);
  background-image: linear-gradient(bottom, #bee2ff 15%, #95c2fd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#95c2fd', endColorstr='#bee2ff');
 
  border: solid 1px rgba(0,0,0,0.5);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
 
  -webkit-box-shadow: inset 0 8px 5px rgba(255,255,255,0.65), 0 1px 2px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 8px 5px rgba(255,255,255,0.65), 0 1px 2px rgba(0,0,0,0.2);
  box-shadow: inset 0 8px 5px rgba(255,255,255,0.65), 0 1px 2px rgba(0,0,0,0.2);
  margin-bottom: 20px;
  padding: 6px 20px;
  color: #000;
  text-shadow: 0 1px 1px rgba(255,255,255,0.8);
  word-wrap: break-word;
}

.bubble:before, .bubble:after {
  border-radius: 20px / 5px;
  content: '';
  display: block;
  position: absolute;
}

.bubble:before {
  border: 10px solid transparent;
  border-bottom-color: rgba(0,0,0,0.5);
  bottom: 0px;
  left: -7px;
  z-index: -2;
}

.bubble:after {
  border: 8px solid transparent;
  border-bottom-color: #bee2ff; 
  bottom: 1px;
  left: -5px;
}

.bubble-alt {
  float: right;
}

.bubble-alt:before {
  left: auto;
  right: -7px;
}

.bubble-alt:after {
  left: auto;
  right: -5px;
}
 
.bubble p {
  font-size: 1.4em;
}

/* green bubble */
.green {
  background: #7acd47;
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.15, #ace44b),color-stop(1, #7acd47));
  background-image: -webkit-linear-gradient(bottom, #ace44b 15%, #7acd47 100%);
  background-image: -moz-linear-gradient(bottom, #ace44b 15%, #7acd47 100%);
  background-image: -ms-linear-gradient(bottom, #ace44b 15%, #7acd47 100%);
  background-image: -o-linear-gradient(bottom, #ace44b 15%, #7acd47 100%);
  background-image: linear-gradient(bottom, #ace44b 15%, #7acd47 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#7acd47', endColorstr='#ace44b');
}
.green:after {
  border-bottom-color: #ace44b;
}

/* bily bublinky */

.white {
  background: #7acd47;
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.15, #e5e5e5),color-stop(1, #dbdbdb));
  background-image: -webkit-linear-gradient(bottom, #e5e5e5 15%, #dbdbdb 100%);
  background-image: -moz-linear-gradient(bottom, #e5e5e5 15%, #dbdbdb 100%);
  background-image: -ms-linear-gradient(bottom, #e5e5e5 15%, #dbdbdb 100%);
  background-image: -o-linear-gradient(bottom, #e5e5e5 15%, #dbdbdb 100%);
  background-image: linear-gradient(bottom, #e5e5e5 15%, #dbdbdb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#dbdbdb', endColorstr='#e5e5e5');
}
.white:after {
  border-bottom-color: #e5e5e5;
}

/* zluty bublinky */

.yellow {
  background: #7acd47;
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.15, #fcf3c3),color-stop(1, #f4e371));
  background-image: -webkit-linear-gradient(bottom, #fcf3c3 15%, #f4e371 100%);
  background-image: -moz-linear-gradient(bottom, #fcf3c3 15%, #f4e371 100%);
  background-image: -ms-linear-gradient(bottom, #fcf3c3 15%, #f4e371 100%);
  background-image: -o-linear-gradient(bottom, #fcf3c3 15%, #f4e371 100%);
  background-image: linear-gradient(bottom, #fcf3c3 15%, #f4e371 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f4e371', endColorstr='#fcf3c3');
}

.yellow:after {
  border-bottom-color: #fcf3c3;
}

/* cerveny bublinky */

.red {
  background: #7acd47;
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.15, #ea8378),color-stop(1, #e2675a));
  background-image: -webkit-linear-gradient(bottom, #ea8378 15%, #e2675a 100%);
  background-image: -moz-linear-gradient(bottom, #ea8378 15%, #e2675a 100%);
  background-image: -ms-linear-gradient(bottom, #ea8378 15%, #e2675a 100%);
  background-image: -o-linear-gradient(bottom, #ea8378 15%, #e2675a 100%);
  background-image: linear-gradient(bottom, #ea8378 15%, #e2675a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#e2675a', endColorstr='#ea8378');
}

.red:after {
  border-bottom-color: #ea8378;
}

/* ruzovy bublinky */

.pink {
  background: #7acd47;
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.15, #ffbee3),color-stop(1, #f8a5ce));
  background-image: -webkit-linear-gradient(bottom, #ffbee3 15%, #f8a5ce 100%);
  background-image: -moz-linear-gradient(bottom, #ffbee3 15%, #f8a5ce 100%);
  background-image: -ms-linear-gradient(bottom, #ffbee3 15%, #f8a5ce 100%);
  background-image: -o-linear-gradient(bottom, #ffbee3 15%, #f8a5ce 100%);
  background-image: linear-gradient(bottom, #ffbee3 15%, #f8a5ce 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#f8a5ce', endColorstr='#ffbee3');
}

.pink:after {
  border-bottom-color: #ffbee3;
}


/* Zapati */

div #footer {
    width: 100%;
    text-align: center;
    font-size: 12px;
    position: absolute;
    bottom:0;
    left:0;
    padding: 20px 0px;
    color: #919191;
    background-color: #303030;
}

a:hover {
    color: #FF00FF;
    background-color: #B2FF99;
}