{* Latte template *}

{block header}
{/block}
{block content}
<div id="wrapper">
    <div id="header">
        <a href="#">
            <div class="skype"></div>
        </a>
        <a href="#">
            <div class="linkedin"></div>
        </a>
        <a href="#">
            <div class="fb"></div>
        </a>
        <h1>Connecting people</h1>
    </div>
    <div id="content" align="center">
        <form id="login">
            <h1> Create new room </h1>
            <fieldset id="inputs">
                <input id="username" type="text" placeholder="New room name" autofocus required/><br>
                </br>
            </fieldset>
            <fieldset class="actions">
                <div class="goToRegistration">
                    <a n:href="Rooms:default">Back</a>
                    <input type="submit" class="submit" value="Create room"/>
                </div>
            </fieldset>
        </form>
    </div>
    <div id="footer">
            Projekt z WA na Mendelu vytvořil 
            <a href="https://is.mendelu.cz/auth/lide/clovek.pl?id=50753;"> Pavel Seda</a> © 2015
    </div>
</div>
{/block}
