{* Latte template *}

{block content}
<div id="wrapper">
    <div id="header">
        <div class="newRoom">
            <ul>
                <li>
                    <a n:href="CreateNewRoom:default">Create room</a>
                </li>
                <li>
                    <!--<a n:href="#">Delete room</a>
                </li>
            </ul>
            <!--
            <input type="submit" class="submit" value="Delete room"/>
            <input type="submit" class="submit" value="Create room"/> 
            -->
        </div>
    </div>
    <div id="content">
        <div class="rooms">
            <h1> Available Rooms</h1>
            <ol>
                <li>
                    <a n:href="ChatRoom:default">Pavlova roomka</a>
                </li>
                <li>
                    <a n:href="ChatRoom:default">Pavlova roomka</a>
                </li>
                <li>
                    <a n:href="ChatRoom:default">Pavlova roomka</a>
                </li>
                <li>
                    <a n:href="ChatRoom:default">Pavlova roomka</a>
                </li>
            </ol>
        </div>
    </div>
</div>
{/block}